<div class="imgContainer">
  <div class="column">
  
  <div class="detail"><div id="check">Sofa Set Range <div>Starting{{120 | currency}}</div></div><img src="../../../assets/decor.jpg" appHover></div>
  <div class="detail"><div id="check">Plants Range<div>Starting {{120 | currency}}</div></div><img src="../../../assets/plant.jpeg" appHover></div>

</div>
<div class="column">
  <div class="detail"><div id="check">Sofa Set Range<div>Starting {{120 | currency}}</div></div><img src="../../../assets/sofa.jpg" appHover></div>
  <div class="detail"><div id="check">Sofa Set Range<div>Starting {{120 | currency}}</div></div><img src="../../../assets/sofa2.jpg" appHover></div>
</div>
<div class="column">
  <div class="detail"><div id="check">Sofa Set Range<div>Starting {{120 | currency}}</div></div><img src="../../../assets/sofaset.jpg" appHover></div>
  <div class="detail"><div id="check">Sofa Set Range<div>Starting {{120 | currency}}</div></div><img src="../../../assets/summer-home-decor.webp" appHover></div>
</div>
</div>